<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bilisimgelisimapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/yeni_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/yeni_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BilisimGelisimApp">
        <activity
            android:name=".AlanlarAlanActivity"
            android:exported="false" />
        <activity
            android:name=".AlanlarActivity"
            android:exported="false" />
        <activity
            android:name=".DuyuruHaberDetayActivity"
            android:exported="false" />
        <activity
            android:name=".DersKonuDetayActivity"
            android:exported="false" />
        <activity
            android:name=".DersActivity"
            android:exported="false" />
        <activity
            android:name=".DerslerActivity"
            android:exported="false" />
        <activity
            android:name=".SiralamaActivity"
            android:exported="false" />
        <activity
            android:name=".SBOGenelActivity"
            android:exported="false" />
        <activity
            android:name=".SBODersActivity"
            android:exported="false" />
        <activity
            android:name=".SBOAlanIpuclariActivity"
            android:exported="false" />
        <activity
            android:name=".SBOQuizActivity"
            android:exported="false" />
        <activity
            android:name=".SistemBilgiOnerActivity"
            android:exported="false" />
        <activity
            android:name=".TestOlSonucActivity"
            android:exported="false" />
        <activity
            android:name=".TestOlTestActivity"
            android:exported="false" />
        <activity
            android:name=".TestOlActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".AnaSayfaActivity"
            android:exported="false" />
        <activity
            android:name=".KayitActivity"
            android:exported="false" />
        <activity
            android:name=".GirisActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>